
<div id="escala"></div>
<main class="main">
    <h1 class="h1-p">Escala de Folgas <span class="data"></span>
    </h1>
    <div class="escala-p">
        <div class="dia7  dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Domingo</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <div class="espaco"></div>
            </div>
        </div>

        <div class="dia1 dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Segunda</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia2 dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Terça</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia3 dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Quarta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia4 dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Quinta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia5 dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Sexta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia6 dia-p">
            <div class="dataSemana"><h3></h3></div>
            <div class="dia"> <h3>Sabado</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="linhas"><p>Paulo Lustosa</p></div>
    <div class="linhas"><p>Paloma Reis</p></div>
    <div class="linhas"><p>Eduardo Lima</p></div>
    <div class="linhas"><p>Paulo Henrique</p></div>
    <div class="linhas"><p>Uriel Ubiratan</p></div>
    <div class="linhas"><p>Gessica Santos</p></div>
    <div class="linhas"><p>Murilo Bastos</p></div>
    <div class="linhas"><p>Felipe Gustavo</p></div>
    <div class="linhas"><p>Maria Cristinalda</p></div>
    <div class="linhas"><p class="blue">Patricia Viera</p></div>
</main>