
<div id="escala"></div>
<main class="main">
    <h1 class="h1-p">Escala de Folgas <span class="data"></span>
    </h1>
    <div class="escala-p">
        <div class="dia7  dia-p">
            
            <div class="dia"> <h3>Domingo</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>   
                <div class="espaco"></div>
            </div>
        </div>

        <div class="dia1 dia-p">
            
            <div class="dia"> <h3>Segunda</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia2 dia-p">
            
            <div class="dia"> <h3>Terça</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia3 dia-p">
            
            <div class="dia"> <h3>Quarta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia4 dia-p">
            
            <div class="dia"> <h3>Quinta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia5 dia-p">
            
            <div class="dia"> <h3>Sexta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia6 dia-p">
            
            <div class="dia"> <h3>Sabado</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sign">
        <div class="linhas"><p class="l0"></p></div>
        <div class="linhas"><p class="l1"></p></div>
        <div class="linhas"><p class="l2"></p></div>
        <div class="linhas"><p class="l3"></p></div>
        <div class="linhas"><p class="l4"></p></div>
        <div class="linhas"><p class="l5"></p></div>
        <div class="linhas"><p class="l6"></p></div>
        <div class="linhas"><p class="l7"></p></div>
        <div class="linhas"><p class="l8"></p></div>
        <div class="linhas"><p class="l9"></p></div>
        <div class="linhas"><p class="l10"></p></div>
        <div class="linhas"><p class="l11"></p></div>
        <div class="linhas"><p class="l12"></p></div>
        <div class="linhas"><p class="l13"></p></div>
        <div class="linhas"><p class="l14"></p></div>
        <div class="linhas"><p class="blue"></p></div>
    </div>
</main>