<div id="escala"></div>
<div id="escala"></div>
<main class="main">
    <h1>Escala de Folgas<br/>
        <span class="data"></span>
    </h1>
    <div class="escala">
        <div class="dia7">
            
            <div class="dia"> <h3>Domingo</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <div class="espaco"></div>
            </div>
        </div>

        <div class="dia1">
            
            <div class="dia"> <h3>Segunda</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia2">
            
            <div class="dia"> <h3>Terça</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia3">
            
            <div class="dia"> <h3>Quarta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia4">
            
            <div class="dia"> <h3>Quinta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia5">
            
            <div class="dia"> <h3>Sexta</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>

        <div class="dia6">
            
            <div class="dia"> <h3>Sabado</h3></div>
            <div class="tabela">
                <ul class="manha">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="tarde">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
                <ul class="noite">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                    <li class="4"><p></p></li>
                    <li class="5"><p></p></li>
                    <li class="6"><p></p></li>
                    <li class="7"><p></p></li>
                    <li class="8"><p></p></li>
                </ul>
                <ul class="folga">
                    <li class="1"><p></p></li>
                    <li class="2"><p></p></li>
                    <li class="3"><p></p></li>
                </ul>
            </div>
        </div>
    </div>
</main>