.main
    text-align: center

.main h1
    margin-top: 60px
    margin-bottom: 40px
    font-weight: bold
    text-transform: uppercase
    text-decoration: none
    color: #7b7062
    font-size: 2em
    letter-spacing: 1.5
    text-align: center

.escala
    display: inline-block
    margin-top: 10px
    margin-bottom: 80px
    text-align: center
    width: 98%
    line-height: 1.2
    font-size: 18px
    background-color: #E3E3E3
    letter-spacing: 1.5px
    box-shadow: 0px 1px 2px #000
    border-radius: 2px


.escala h3
    padding-top: 2px
    margin-bottom: 6px
    font-weight: bold

.tabela
    width: 100%
    margin: 0 auto
    text-align: center

.dataSemana
    width: 95%
    height: 15px
    margin: 0px auto
    margin-top: 5px
    background-color: #806F52
    font-weight: bold

.manha, .tarde, .noite, .folga
    margin: 0 auto
    padding-top: 5px
    margin-top: 5px
    width: 90%
    height: 70px
    background-color: #eee
    color: #333
    font-weight: bold

.dia
    width: 95%
    height: 30px
    margin: 0px auto
    background-color: #806F52

.manha
    width: 90%
    height: 110px

.tarde
    width: 90%
    height: 50px
    background-color: #333
    color: #eee

.noite
    width: 90%
    height: 70px
    background-color: #eee

.folga
    width: 95%
    height: 70px
    background-color: #D6483E
    color: #eee


.dia1, .dia2, .dia3, .dia4, .dia5, .dia6, .dia7
    display: inline-block
    width: 125px
    height: 395px
    background-color: #B7BF97
    margin: 20px 10px
    vertical-align: top
    box-shadow: 0px 1px 2px #000
    border-radius: 2px

.espaco
    margin: 0 auto
    padding-top: 5px
    margin-top: 5px
    width: 90%
    height: 210px
    background-color: #333
    color: #eee
